  <!-- <div class="flex min-h-screen">

 
  <aside class="w-72 p-6">

    <app-card>

      <div class="p-6">

        <h2 class="text-xl font-bold text-center text-[#6D6DC6] mb-6">
          <i class="fa-solid fa-paw"></i>
          Menú
        </h2>

        <div class="flex flex-col gap-3">

          <app-button
            text="Lista"
            icon="fa-solid fa-list"
            variant="menu"
            routerLink="list">
          </app-button>

          <app-button
            text="Crear"
            icon="fa-solid fa-plus"
            variant="menu"
            routerLink="create">
          </app-button>

          <app-button
            text="Buscar por Estado"
            icon="fa-solid fa-filter"
            variant="menu"
            routerLink="status">
          </app-button>

          <app-button
            text="Buscar por Tags"
            icon="fa-solid fa-tags"
            variant="menu"
            routerLink="tags">
          </app-button>

        </div>

      </div>

    </app-card>

  </aside>

 
  <main class="flex-1 p-8">

    <router-outlet></router-outlet>

  </main>

</div>-->

    <router-outlet></router-outlet>
