@use '../../../../../assets/variables' as *;

.btn-primary {

  background: $primary;
  color: $text-white;

  &:hover:not(:disabled) {
    background: $secondary;
    transform: translateY(-2px);
  }

  &:disabled {
    background: $tertiary;
    color: $text-white;
    cursor: not-allowed;
    opacity: .8;
  }

}

.btn-secondary {
  background: transparent;
  color: $primary;
  border: 2px solid $primary;

  &:hover {
    background: rgba($primary, 0.08);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}