<app-card>

  <div class="p-8">

     <app-button  icon="fa fa-reply" variant="icon" [fullWidth]="false" routerLink="/pets/create">
  </app-button>

    <h2 class="text-2xl font-bold text-[#6D6DC6] text-center mb-6 py-2">
      Información del Usuario
    </h2>

    <ul class="user-list">

      <li>
        <span class="label">Usuario:</span>
        <span>{{ usuario.username }}</span>
      </li>

      <li>
        <span class="label">Nombre:</span>
        <span>{{ usuario.firstName }}</span>
      </li>

      <li>
        <span class="label">Apellido:</span>
        <span>{{ usuario.lastName }}</span>
      </li>

      <li>
        <span class="label">Correo:</span>
        <span>{{ usuario.email }}</span>
      </li>

      <li>
        <span class="label">Teléfono:</span>
        <span>{{ usuario.phone }}</span>
      </li>

    </ul>


  </div>

</app-card>