
/* ===========================
   PALETA DE COLORES
=========================== */

// Colores principales
$primary: #8A56F3;
$secondary: #7445DD;

$title: #6D6DC6;
$text: #8A8DC4;
$text-error: #979695;



$border: #A9ACD6;
$focus: #4A4ED4;

$panel-start: #6D70E0;
$panel-end: #5457D8;

$background-start: #8531E7;
$background-end: #2E258E;