@use '../../../../assets/variables' as *;




.register-page{
  min-height: 100vh;

  background: linear-gradient(
    to right,
    $background-start,
    $background-end
  );
}


.panel {
  background: linear-gradient(135deg,
      $panel-start,
      $panel-end );
}

.title {
  color: $title;
}

.text-primary {
  color: $text;
}

.input-line {
  border: none;
  border-bottom: 1.5px solid $border;
  color: $text;

  &:focus {
    outline: none;
    border-bottom-color: $focus;
  }
}

.btn-primary {

  background: $primary;
  color: $text-white;


  &:hover:not(:disabled) {
    background: $secondary;
    transform: translateY(-2px);
  }

  &:disabled {
    background: $tertiary;
    color: $text-white;
    cursor: not-allowed;
    opacity: .8;
  }
}

.btn-secondary {
  background: transparent;
  color: $primary;
  border: 2px solid $primary;

  &:hover {
    background: rgba($primary, 0.08);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}

.welcome {
  background: $panel-start;
  color: #fff;
}

i {
  color: $text;

  &:focus {
    padding-bottom: 4px;
  }
}

small {
  color: $text-error;
  padding: 2px;
}