<main class="min-h-screen flex items-center justify-center  p-6">


    <div class="w-full max-w-6xl bg-white rounded-3xl shadow-2xl overflow-hidden grid grid-cols-1 lg:grid-cols-2">

        <!-- Panel izquierdo -->

        <!-- Derecho: Imagen + Descripción -->
        <div class="panel flex-[2] flex flex-col items-center justify-center p-6 drop-shadow-lg">

            <img src="../../../../assets/CREATE.png" alt="Create Account"
                class="w-60 h-60 md:w-80 md:h-80 object-contain drop-shadow-lx">

            <p class="text-center text-white mt-4 px-6">
                Únete a nuestra comunidad y descubre todo lo que
                PetSport tiene para ofrecerte.
            </p>

        </div>

        <!-- Derecho: Formulario de registro -->
        <div class="flex-[4] flex flex-col justify-center bg-white relative p-6 md:p-12 text-primary">

            <div class="absolute top-5 left-0 welcome px-5 md:px-8 py-2 rounded-r-full font-semibold ">
                Bienvenido a PetSport
            </div>


            <!-- Título -->
            <h2 class="title text-2xl font-semibold text-center my-8">
                Crear una cuenta
            </h2>

            <!-- Formulario -->
            <form [formGroup]="RegisterForm" (ngSubmit)="guardarRegistro()"
                class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <!-- Usuario -->
                <div class="relative">
                    <input type="text" formControlName="username" placeholder=" " class="peer w-full py-2 input-line">

                    <label for="username" class="absolute left-0 -top-4 text-sm text-primary
                            peer-placeholder-shown:top-2
                            peer-placeholder-shown:text-base
                            peer-focus:-top-4
                            peer-focus:text-sm">

                        Usuario

                    </label>

                    <div *ngIf="RegistrosNoValido">
                        <div *ngFor="let validation of count_validation_messages.username">
                            <small 
                                *ngIf="UtilFunction.validarError(RegisterForm, 'username', validation.type)">{{
                                validation.message }}</small>
                        </div>
                    </div>
                </div>

                <!-- First Name -->
                <div class="relative">

                    <input type="text" formControlName="firstName" placeholder=" " class="peer w-full py-2 input-line">

                    <label for="firstName" class="absolute left-0 -top-4 text-sm text-primary
                            peer-placeholder-shown:top-2
                            peer-placeholder-shown:text-base
                            peer-focus:-top-4
                            peer-focus:text-sm">

                        Nombre

                    </label>

                    <div *ngIf="RegistrosNoValido">
                        <div *ngFor="let validation of count_validation_messages.firstName">
                            <small 
                                *ngIf="UtilFunction.validarError(RegisterForm, 'firstName', validation.type)">{{
                                validation.message }}</small>
                        </div>
                    </div>

                </div>



                <!-- Last Name -->
                <div class="relative">

                    <input type="text" formControlName="lastName" placeholder=" " class="peer w-full py-2 input-line">

                    <label for="lastName" class="absolute left-0 -top-4 text-sm text-primary
                            peer-placeholder-shown:top-2
                            peer-placeholder-shown:text-base
                            peer-focus:-top-4
                            peer-focus:text-sm">

                        Apellido

                    </label>

                    <div *ngIf="RegistrosNoValido">
                        <div *ngFor="let validation of count_validation_messages.lastName">
                            <small 
                                *ngIf="UtilFunction.validarError(RegisterForm, 'lastName', validation.type)">{{
                                validation.message }}</small>
                        </div>
                    </div>

                </div>

                <!-- Phone -->
                <div class="relative">

                    <input type="text" formControlName="phone" placeholder=" " class="peer w-full py-2 input-line">

                    <label for="phone" class="absolute left-0 -top-4 text-sm text-primary
                            peer-placeholder-shown:top-2
                            peer-placeholder-shown:text-base
                            peer-focus:-top-4
                            peer-focus:text-sm">

                        Teléfono

                    </label>


                    <div *ngIf="RegistrosNoValido">
                        <div *ngFor="let validation of count_validation_messages.phone">
                            <small 
                                *ngIf="UtilFunction.validarError(RegisterForm, 'phone', validation.type)">{{
                                validation.message }}</small>
                        </div>
                    </div>

                </div>

                <!-- Email -->
                <div class="relative md:col-span-2">

                    <input type="email" formControlName="email" placeholder=" " class="peer w-full py-2 input-line">

                    <label for="email" class="absolute left-0 -top-4 text-sm text-primary
                            peer-placeholder-shown:top-2
                            peer-placeholder-shown:text-base
                            peer-focus:-top-4
                            peer-focus:text-sm">

                        Email

                    </label>

                    <div *ngIf="RegistrosNoValido">
                        <div *ngFor="let validation of count_validation_messages.email">
                            <small 
                                *ngIf="UtilFunction.validarError(RegisterForm, 'email', validation.type)">{{
                                validation.message }}</small>
                        </div>
                    </div>

                </div>

                <!-- Password -->
                <div class="relative">

                    <input type="password" formControlName="password" placeholder=" "
                        [type]="showPassword ? 'text' : 'password'" class="peer w-full py-2 input-line">

                    <button type="button" (click)="showPassword = !showPassword"
                        class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-500">

                        @if (showPassword) {
                        <i class="fa-solid fa-eye-slash peer-focus:text-sm"></i>
                        } @else {
                        <i class="fa-solid fa-eye peer-focus:text-sm"></i>
                        }

                    </button>

                    <label for="password" class="absolute left-0 -top-4 text-sm text-primary
                            peer-placeholder-shown:top-2
                            peer-placeholder-shown:text-base
                            peer-focus:-top-4
                            peer-focus:text-sm">

                        Contraseña

                    </label>

                    <div *ngIf="RegistrosNoValido">
                        <div *ngFor="let validation of count_validation_messages.password">
                            <small class="absolute left-0 "
                                *ngIf="UtilFunction.validarError(RegisterForm, 'password', validation.type)">{{
                                validation.message }}</small>
                        </div>
                    </div>

                </div>


                <!-- Confirm Password -->
                <div class="relative">

                    <input type="password" formControlName="confirmPassword" placeholder=" "
                        [type]="showPassword ? 'text' : 'password'" class="peer w-full py-2 input-line">

                    <button type="button" (click)="showPassword = !showPassword"
                        class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-500">

                        @if (showPassword) {
                        <i class="fa-solid fa-eye-slash"></i>
                        } @else {
                        <i class="fa-solid fa-eye"></i>
                        }

                    </button>

                    <label for="confirmPassword" class="absolute left-0 -top-4 text-sm text-primary
                            peer-placeholder-shown:top-2
                            peer-placeholder-shown:text-base
                            peer-focus:-top-4
                            peer-focus:text-sm">

                        Confirmar Contraseña

                    </label>


                    <div *ngIf="RegistrosNoValido">
                        <div *ngFor="let validation of count_validation_messages.confirmPassword">
                            <small class="absolute left-0 "
                                *ngIf="UtilFunction.validarError(RegisterForm, 'confirmPassword', validation.type)">{{
                                validation.message }}</small>

                        </div>
                        <div *ngIf="RegisterForm.hasError('passwordMismatch') && RegisterForm.get('confirmPassword')?.touched">

                            <small class="absolute left-0  text-red-500">
                                Las contraseñas no coinciden.
                            </small>

                        </div>
                    </div>


                </div>



                <!-- Botón -->
                <div class="md:col-span-2 flex justify-center mt-4">

                    <button type="submit" 
                    [disabled]="RegisterForm.invalid"
                    class="btn-primary w-full md:w-3/5 py-3 mt-4 rounded-full transition">

                        crear cuenta

                    </button>

                </div>

            </form>

            <!-- Link -->
            <div class="flex justify-center mt-8">

                <a routerLink="/login" class="text-primary hover:text-blue-700">

                    Iniciar sesión

                </a>

            </div>

        </div>

    </div>

</main>