
/* ===========================
   PALETA DE COLORES
=========================== */

// Colores principales
$primary: #8A56F3;
$secondary: #7445DD;

$title: #6D6DC6;
$text: #8A8DC4;

$border: #A9ACD6;
$focus: #4A4ED4;

$panel-start: #6D70E0;
$panel-end: #5457D8;

$background-start: #8531E7;
$background-end: #2E258E;


.panel {
  background: linear-gradient(
    135deg,
    $panel-start,
    $panel-end
  );
}

.title {
  color: $title;
}

.text-primary {
  color: $text;
}

.input-line {
  border: none;
  border-bottom: 1.5px solid $border;
  color: $text;

  &:focus {
    outline: none;
    border-bottom-color: $focus;
  }
}

.btn-primary {
  background: $primary;
  color: #fff;

  &:hover {
    background: $secondary;
  }
}

.welcome {
  background: $panel-start;
  color: #fff;
}

i {
  color: $text;
  &:focus{
    padding-bottom: 4px;
  }
}