@use '../../../../../assets/variables' as *;

.input-line {

  border: none;
  border-bottom: 1.5px solid $border;
  color: $text;
  background: transparent;

  &:focus {
    outline: none;
    border-bottom-color: $focus;
  }

}

.text-primary {
  color: $text;
}

