<!-- ========== CÓMO FUNCIONA ========== -->
<section class="px-6 lg:px-16 py-20 bg-[#f5f3ff]">

  <div class="max-w-7xl mx-auto">

    <!-- Título -->
    <div class="text-center mb-14">


      <h2 class="text-4xl lg:text-5xl font-black text-[#2E258E] mt-3">
        Historia de nuestros peluditos
      </h2>

      <p class="text-[#8A8DC4] mt-4 max-w-2xl mx-auto text-lg leading-relaxed">
...      </p>
    </div>

    <!-- Cards -->
    <div class="cards-img grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">

      <!-- Paso 1 -->
      <div class="bg-white border border-[#A9ACD6]/40 rounded-3xl  hover:shadow-xl hover:shadow-[#8A56F3]/10 hover:-translate-y-2 transition-all duration-300">

        <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisa/G575XBIQ2VH2BEGLSAWKTLL4YI.jpg" class="border border-[#A9ACD6]/40 rounded-3xl">

      </div>

      <!-- Paso 2 -->
      <div class="bg-white border border-[#A9ACD6]/40 rounded-3xl hover:shadow-xl hover:shadow-[#8A56F3]/10 hover:-translate-y-2 transition-all duration-300">

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnJhoBNddAZBcs9bMUAaonChDllCwibvY94nD201Rop4UIUvdxc7vKWftf&s=10" class="border border-[#A9ACD6]/40 rounded-3xl">


      </div>

      <!-- Paso 3 -->
      <div class="bg-white border border-[#A9ACD6]/40 rounded-3xl  hover:shadow-xl hover:shadow-[#8A56F3]/10 hover:-translate-y-2 transition-all duration-300">

                <img src="https://static.wixstatic.com/media/11062b_e6512cf37a9a4c6b8cf685693fba8850~mv2.jpg/v1/fill/w_568,h_378,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_e6512cf37a9a4c6b8cf685693fba8850~mv2.jpg" class="border border-[#A9ACD6]/40 rounded-3xl">


      </div>

      <!-- Paso 4 -->
      <div class="bg-white border border-[#A9ACD6]/40 rounded-3xl  hover:shadow-xl hover:shadow-[#8A56F3]/10 hover:-translate-y-2 transition-all duration-300">

                <img src="https://media.istockphoto.com/id/1516239450/es/foto/amor-retrato-y-familia-con-perro-en-refugio-de-animales-para-adopci%C3%B3n-en-perrera.jpg?s=612x612&w=0&k=20&c=krBe-Pt0NC27qzf6upVuryyBvslI_EUlL6XrjwAr3hw=" class="border border-[#A9ACD6]/40 rounded-3xl">

      </div>

    </div>

  </div>

</section>