
@use '../../../../assets/variables' as *;

.login-page{
  min-height: 100vh;

  background: linear-gradient(
    to right,
    $background-start,
    $background-end
  );
}


.panel {
  background: linear-gradient(135deg,
      $panel-start,
      $panel-end );
}

.title {
  color: $title;
}

.text-primary {
  color: $text;
}

.input-line {
  border: none;
  border-bottom: 1.5px solid $border;
  color: $text;

  &:focus {
    outline: none;
    border-bottom-color: $focus;
  }
}





.welcome {
  background: $panel-start;
  color: $text-white;
}

small {
  color: $text-error;
  padding: 2px;
}