<main class="min-h-screen flex items-center justify-center p-6">

  <div class="w-full max-w-6xl bg-white rounded-3xl shadow-2xl overflow-hidden grid grid-cols-1 lg:grid-cols-2">

    <!-- Formulario -->
    <div class="flex flex-col justify-center p-6 md:p-12 bg-white relative">

      <div class="absolute top-5 right-0 welcome px-5 md:px-8 py-2 rounded-l-full font-semibold">
        Bienvenido a PetSport
      </div>

      <h2 class="title text-2xl font-semibold text-center my-8">
        Inicia sesión en tu cuenta
      </h2>

      <form [formGroup]="loginForm" (ngSubmit)="guardarLogin()" class="flex flex-col ">

        <!-- username -->
        <div class="relative mb-10">

          <input type="text" formControlName="username" placeholder=" " class="peer w-full py-2 input-line">

          <label class="absolute left-0 -top-4 text-sm text-primary
                   peer-placeholder-shown:top-2
                   peer-placeholder-shown:text-base
                   peer-focus:-top-4
                   peer-focus:text-sm">

            Usuario

          </label>


          <div *ngIf="RegistrosNoValido">
            <div *ngFor="let validation of count_validation_messages.username">
              <small class="absolute left-0 "
                *ngIf="UtilFunction.validarError(loginForm, 'username', validation.type)">{{
                validation.message }}</small>
            </div>
          </div>

        </div>

        <!-- Password -->
        <div class="relative mb-8">

          <input type="password" formControlName="password" placeholder=" " class="peer w-full py-2 input-line">

          <label class="absolute left-0 -top-4 text-sm text-primary
                   peer-placeholder-shown:top-2
                   peer-placeholder-shown:text-base
                   peer-focus:-top-4
                   peer-focus:text-sm">

            Contraseña

          </label>

          <div *ngIf="RegistrosNoValido">
            <div  *ngFor="let validation of count_validation_messages.password">
              <small class="absolute left-0 "
                *ngIf="UtilFunction.validarError(loginForm, 'password', validation.type)">{{
                validation.message }}</small>
            </div>
          </div>

        </div>
        
        <button type="submit"  class="btn-primary mx-auto w-full md:w-3/5 py-3 rounded-full transition">

          Ingresar

        </button>

      </form>

      <div class="flex flex-col items-center mt-8 gap-3">

        <a routerLink="/register" class="text-primary hover:text-blue-700">

          Crear cuenta

        </a>

        <a href="#" class="text-primary underline hover:text-blue-700">

          ¿Olvidaste tu contraseña?

        </a>

      </div>

    </div>

    <!-- Imagen -->
    <div class="panel flex flex-col items-center justify-center p-6">

      <img src="assets/login.png" alt="Login" class="w-60 h-60 md:w-80 md:h-80 object-contain">

      <p class="text-center text-white mt-4 px-6">

        Tu próxima aventura con tus mascotas comienza aquí.
        Inicia sesión para continuar.

      </p>

    </div>

  </div>

</main>